dynaconf~=2.2.3
scispacy~=0.2.4
fastcache~=1.1.0
overrides~=2.8.0
srsly~=1.0.2
ujson~=1.35
spacy~=2.2.4
loguru~=0.4.1

typing~=3.7.4.1
git+https://github.com/allenai/allennlp-models.git@a9be0f0236c1e6d16f17f5c0e27d35ad7f221a72
transformers
pytest~=5.4.1
setuptools~=46.1.3
