fastcache
srsly
ujson
spacy>=3.0
handystuff
allennlp-models==2.10.0
flair==0.8
torch==1.12.0
pysolr==3.8.1
emoji==0.5.3
regex==2019.8.19
matplotlib==3.1.0
tqdm==4.32.1
nltk==3.4.5
numpy==1.22.0
segtok==1.5.7
pytorch-transformers==1.2.0
transformers==4.20.1
colorama==0.4.3
termcolor==1.1.0
faiss-cpu>=1.6.1
loguru